h1 {
  color: aquamarine;
  font-size: 200%;
  font-family: comic-sans;
}

h2 {
   color:salmon;
  font-family: Comic-Sans;
}

body
{
  background-color:sandybrown
}

p
li 
{
  color:blanchedalmond;
}

